<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>

    <!-- ============= HEADER START ============ -->

    <header>
        <div class="header-nav">
            <div class="container">
                
                <%- include('./partials/navbar') %>

                <h2 class="mt-2"><%= title %></h2>
            </div>
        </div>
    </header>


</body>

</html>